<div class="main-container">
  <div class="header-text">
    <h1>OUR SERVICES</h1>
  </div>
  <div class="service-grid">
    <mat-card>
      <mat-card-content>
        <img src="assets/img/gro.svg" alt="card-img" />
        <h1 class="card-heading">Carrer Counseling</h1>
        <p class="card-text">
          Our seasoned professionals provide personlized guidance t help you
          make informed decisions about your academic and professional journey.
          Discover the path to a successfull carrer.
        </p>
        <button mat-raised-button color="warn" class="card-button">GET</button>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <img src="assets/img/counse.svg" alt="card-img" />
        <h1 class="card-heading">Carrer Counseling</h1>
        <p class="card-text">
          Our seasoned professionals provide personlized guidance t help you
          make informed decisions about your academic and professional journey.
          Discover the path to a successfull carrer.
        </p>
        <button mat-raised-button color="warn" class="card-button">GET</button>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <img src="assets/img/ex.svg" alt="card-img" />
        <h1 class="card-heading">Carrer Counseling</h1>
        <p class="card-text">
          Our seasoned professionals provide personlized guidance t help you
          make informed decisions about your academic and professional journey.
          Discover the path to a successfull carrer.
        </p>
        <button mat-raised-button color="warn" class="card-button">GET</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
