nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(250, 249, 246, 0.8);
  color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo img {
  max-height: 40px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

li {
  font-size: 18px;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: black; /* Set the text color to black */
}

a:hover {
  color: #ffcc00;
}
